@import "tailwindcss";

/* Custom styles for your application */
.input-field {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #2563eb;
  outline: none;
}

.btn-primary {
  width: 100%;
  padding: 0.75rem;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.flash-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.flash-message.fade-out {
  opacity: 0;
}

.supernova {
  font-family: "Condiment", cursive;
}
